<ul class="social-media-list">
  <li><a href=" "><img src="{{ '/assets/telegram_logo.png' | relative_url }}" width="20px"> <span class="username">nvbogachev</span></a></li>
  <li><a href="https://www.researchgate.net/profile/Nikolay-Bogachev-2"><img src="{{ '/assets/research_gate_logo.png' | relative_url }}" width="20px"> <span class="username">Nikolay Bogachev</span></a></li>
  <li><a href="https://scholar.google.com/citations?user=S1kqhxwAAAAJ&hl=en"><img src="{{ '/assets/google_scholar_logo' | relative_url }}" width="20px"> <span class="username">Nikolay Bogachev</span></a></li>
</ul>
